.button-link {
  text-decoration: none;
  width: 240px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--stroke-dark);
  background-color: var(--surface-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dark);
  font: var(--text-md);
}

.button-link:hover {
  border: 1px solid var(--text-dark);
}
