.dark .button-link {
  text-decoration: none;
  width: 540px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--stroke-dark);
  background-color: var(--surface-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-dark);
  font: var(--text-md);
}

.light .button-link {
  text-decoration: none;
  width: 540px;
  height: 56px;
  border-radius: 8px;
  border: 1px solid var(--stroke-light);
  background-color: var(--surface-light);
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text-light);
  font: var(--text-md);
}

.dark .button-link:hover {
  border: 1px solid var(--text-dark);
}

.light .button-link:hover {
  border: 1px solid var(--text-light);
}
