* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#superelipse {
  color: black;
}

.cardContainer {
  width: 384px;
  height: 454px;
  background-color: #0f172a;
  gap: 10px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.miniContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#superelipse {
  width: 133px;
  height: 34px;
  color: #0f172a;
  background-color: #fba94c;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 700;
  padding: 8px 16px;
}