header {
  background: var(--gray-300);
  width: 100vw;
  height: 12.5rem;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: absolute;
}

header img {
  width: 8.75rem;
  height: 3rem;
}
